body{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
}
.container
{
    border:2px solid black;
    border-radius: 5px;
    padding: 10px;
    width:500px;
}
.form-control
{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    display:block;
    margin-bottom: 5px;
}
.form-control input,select{
    display:block;
    width:100%;
    margin-bottom: 5px;
}

button{
    display:block;
    width:100%;
    background-color: rgb(134, 134, 134);
    color:white;
    font-size: large;
}
#s1,#s2,#s3,#s4,#s5
{
    color:red;
    position:absolute;
    visibility:hidden;
}
.other-control
{
    display:flex;
    justify-content: space-around;
}